{% extends "admin/base.html" %}
{% load i18n %}
{% block breadcrumbs %}<a href="../" class="inactive float-left">{% trans 'Home' %}</a><span class="active float-right">{% trans 'Password change' %}</span>{% endblock %}

{% block content %}
<form class="panel" action="" method="post" selected="true">
<h1>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</h1>
<fieldset>
    <div class="row">
    <label for="id_old_password" class="required">{% trans 'Old password:' %} </label>
    {% if form.old_password.errors %}{{ form.old_password.html_error_list }}{% endif %}
    {{ form.old_password }}
    </div>
    <div class="row">
    <label for="id_new_password1" class="required">{% trans 'New password:' %}</label>
    {% if form.new_password1.errors %}{{ form.new_password1.html_error_list }}{% endif %}
    {{ form.new_password1 }}
    </div>
    <div class="row">
    <label for="id_new_password2" class="required">{% trans 'Confirm password:' %}</label>
    {% if form.new_password2.errors %}{{ form.new_password2.html_error_list }}{% endif %}
    {{ form.new_password2 }}
    </div>
</fieldset>
<div class="submitline" selected="true">
    <a href="#" onclick="document.forms[0].submit()" class="inactive float-right">{% trans 'Change my password' %}</a>
</div>
</form>

{% endblock %}
