{% load i18n mobile_admin %}{% spaceless %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
<head>
<title>{% block title %}{% trans 'Django administration' %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="" />
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<style type="text/css" media="screen">@import "{% mobileadmin_media_prefix %}css/main.css";</style>
{% block extrahead %}{% endblock %}
{% block extrastyle %}{% endblock %}
</head>

<body>
	<div class="toolbar">
		<h1><a href="{% get_admin_root %}">{% filter truncate_dot:15 %}{% trans 'Django administration' %}{% endfilter %}</a></h1>
		{% block tools %}
		{% if user.is_authenticated and user.is_staff %}
		<h2>
			<a href="{% get_admin_root %}logout/">{% trans "Logout" %}</a>
			<a href="{% get_admin_root %}password_change/" target="_self">{% trans 'Change password' %}</a>
		</h2>
		{% endif %}
		{% endblock %}
	</div>
	<div class="breadcrumbs" selected="true">{% block breadcrumbs %}{% endblock %}</div>
	{% block content %}{{ content }}{% endblock %}
</body>
</html>
{% endspaceless %}