{% extends "admin/base.html" %}
{% load mobile_admin mobile_admin_list i18n %}

{% block breadcrumbs %}
    <a id="_objectlist" href="javascript:;" class="float-left active">{{ cl.opts.verbose_name_plural|escape|capfirst }}</a>
    <a href="add/" class="float-right inactive">{% trans "Add" %}</a>
    {% if cl.lookup_opts.admin.search_fields or cl.has_filters %}<a id="_filter" href="javascript:;" class="float-right inactive"><img src="{% mobileadmin_media_prefix %}img/search.png" /></a>{% endif %}
{% endblock %}

{% block content %}
<ul id="objectlist" selected="true">
    {% for res in cl.result_list %}
        <li><a href="{{ res.id }}/">{{ res|escape|truncate_dot:27 }}</a></li>
    {% endfor %}
    {% block pagination %}{% pagination cl %}{% endblock %}
</ul>

{% if cl.lookup_opts.admin.search_fields or cl.has_filters %}
<ul id="filter">
    {% block search %}{% search_form cl %}{% endblock %}
    {% if cl.has_filters %}
    <li class="group subgroup">{% trans "Filter" %}</li>
    {% for spec in cl.filter_specs %}
        {% filter cl spec %}
    {% endfor %}
    {% endif %}
</ul>
{% include_admin_script "js/change_list.js" %}
{% endif %}
{% endblock %}
