{% extends "admin/base.html" %}
{% load i18n %}

{% block breadcrumbs %}{% trans 'Log in' %}</a>{% endblock %}

{% block content %}
<form action="{{ app_path }}" class="panel" method="post" selected="true">
{% if error_message %}<h1 class="error">{{ error_message }}</h1>{% endif %}
<fieldset>
<div class="row">
	<label>{% trans 'Username:' %}</label>
	<input type="text" name="username" id="id_username" value="" />
</div>
<div class="row">
	<label>{% trans 'Password:' %}</label>
	<input type="password" name="password" id="id_password" value="" />
	<input type="hidden" name="this_is_the_login_form" value="1" />
	<input type="hidden" name="post_data" value="{{ post_data }}" />
</div>
</fieldset>
	<div class="submitline" selected="true">
		<a href="#" onclick="document.forms[0].submit()" class="inactive float-right submit">{% trans 'Log in' %}</a>
	</div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
